<!--
  Generated template for the ProfilePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="primary">
    <ion-title>个人信息</ion-title>
  </ion-navbar>

</ion-header>

<ion-content padding>
  <ion-row>
    <ion-col></ion-col>
    <ion-col><ion-avatar item-start (click)="chooseImageType()">
      <div *ngIf="avatar"><img  src="{{avatar}}"/></div>
      <div *ngIf="!avatar"><img  src="assets/img/16.jpg"/></div>
    </ion-avatar></ion-col>
    <ion-col></ion-col>
  </ion-row>
  <ion-item>
    <!--<ion-label fixed>账号</ion-label>-->
    <ion-icon item-left name="call" color="primary"></ion-icon>
    <ion-input type="text"  #username value="胡老师"></ion-input>
  </ion-item>
  <ion-item>
    <ion-icon item-left name="key" color="primary"></ion-icon>
    <ion-input type="password"  #password value="111111"></ion-input>
  </ion-item>
  <ion-row padding>
    <button ion-button block>保存</button>
  </ion-row>
</ion-content>
