<!--
  Generated template for the ForgetPasswordPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar color="primary">
    <ion-title>找回密码</ion-title>
  </ion-navbar>
  <ion-toolbar>
    1、输入邮箱或者手机号>2、输入验证码>3、重置密码
  </ion-toolbar>
</ion-header>


<ion-content padding>
  <ion-slides #forgetPasswordSlides>
    <ion-slide>
      <form #phoneForm="ngForm">
        <ion-item>
          <ion-label fixed>账号</ion-label>
        </ion-item>
        <ion-item>
          <ion-input type="number"  placeholder="请输入手机号码" [(ngModel)]="forget.phone" name="phone" required  #phone="ngModel" pattern="^((13[0-9])|(14[5|7])|(15([0-3]|[5-9]))|(18[0,3,5-9]))\\d{8}$" ></ion-input>
        </ion-item>
        <ion-item *ngIf="phone.invalid && phone.touched">
          <p [hidden]="!phone.errors?.required">请输入手机号码</p>
          <p [hidden]="!phone.errors?.pattern">您输入的手机号格式不正确</p>
        </ion-item>
        <button ion-button block color="primary" [disabled]="phoneForm.invalid" (click)="next()">提交</button>
      </form>
    </ion-slide>
    <ion-slide>
      <form #phoneForm1="ngForm">
        <ion-list>
          <ion-item>
            <ion-input type="number" placeholder="请输入验证码" name="code" [(ngModel)] = "forget.code" required></ion-input>
          </ion-item>
          <ion-item>
            <button block color="primary"  (click)="send()" >发送验证码</button>
          </ion-item>
          <ion-item *ngIf="forget.codeMark==2">
            <p >短信验证码不正确或者已过期</p>
          </ion-item>
        </ion-list>
        <div>
          <button ion-button block color="primary" (click)="previous()">上一步</button>
          <button ion-button block color="primary" [disabled]="phoneForm1.invalid"  (click)="validateCode()">下一步</button>
        </div>
      </form>
    </ion-slide>
    <ion-slide>
      <form #phoneForm2="ngForm">
        <ion-item>
          <ion-label fixed>新密码</ion-label>
        </ion-item>
        <ion-item>
          <ion-input type="password"  placeholder="请输入密码" [(ngModel)]="forget.password" name="password" required  #password="ngModel"></ion-input>
        </ion-item>
        <ion-item *ngIf="password.invalid && password.touched">
          <p [hidden]="!password.errors?.required">请输入密码</p>
        </ion-item>
        <ion-item>
          <ion-label fixed>确认密码</ion-label>
        </ion-item>
        <ion-item>
          <ion-input type="password"  placeholder="请确认密码" [(ngModel)]="forget.repassword" name="repassword" required  #repassword="ngModel"></ion-input>
        </ion-item>
        <ion-item *ngIf="forget.password!=forget.repassword">
          <p>两次密码不一致</p>
        </ion-item>
        <div>
          <button ion-button block color="primary" [disabled]="phoneForm2.invalid"(click)="save()">提交</button></div>
      </form>
    </ion-slide>
  </ion-slides>
</ion-content>
